/*This is the CSS page for our final template.*/

.footer p { /* This is how you add styles for only the p text within the footer. */
	background-color: #07beb8;
	text-align: center;
	font-size: 24px;
	margin-bottom: 0;
	font-family: 'Times New Roman', serif;
}
.header {
	height: auto;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	font-family: 'Georgia', serif;
	text-decoration-color: ;
	background-color: #07beb8;
	scroll-behavior: smooth;
}
h4 {
	font-style: italic;
	font-size: 40px;
	font-family: 'Georgia', serif;
	s
}
h3 {
	font-size: 30px;
	font-family: "Poppins", sans-serif;
  	font-weight: 700;
  	font-style: normal;
}
img {
	float: right;
	margin-right: 5%;
	margin-left: 5%;
}
 


/*Don't worry about this section yet*/
@media only screen and (max-width: 767px)
{
img {float: none;
}
.footer p {
	background-color: cadetblue;
}
 .list {
 	border: 2px solid darkgrey;
 	padding-left: 10px;
 }
 iframe {
 	min-width: 90%;
 	margin-right: 10px;
 }
}